:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --hospital-green-hover: #72bd7c;
    /* fuentes */
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

/* estilos de contenedor principal */
.login{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form__container{
    width: 30rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

/* estilos del logo */
.logo {
    width: 15rem;
    margin-bottom: 4.8rem;
    justify-self: center;
    display: none;
  }
.title{
    font-size: var(--lg);
    margin-bottom: 1.2rem;
    text-align: center;
}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 3.2rem;
    text-align: center;
}
.email__image{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    align-items: center;
    justify-content: center;
}
    .email__image img{
        width: 8rem;
    }
.primary--button{
    background-color: var(--hospital-green);
    border-radius: .8rem;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 5rem;
    width: 100%;
    margin-top: 1.4rem;
    transition: .5s background ease-in;
}
    .primary--button:hover{
        background-color: var(--hospital-green-hover);
    }

.resend{
    font-size: var(--sm);
}
    .resend span{
        color: var(--very-light-pink);
    }
    .resend a{
        color: var(--hospital-green);
        text-decoration: none;
    }
    .resend a:hover{
        color: var(--hospital-green-hover);
    }
@media (max-width: 640px){
    .logo{
        display: block;
    }
}