:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    /* fuentes */
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.card__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.6rem;
    place-content: center;
}
.product__card{
    width: 24rem;
}
    .product__card img{
        width: 24rem;
        height: 24rem;
        border-radius: 2rem;
        object-fit: cover;
    }
    .product__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.2rem;
    }
        .product__info div p:nth-child(1){
            font-weight: bold;
            font-size: var(--md);
            margin: 0 0 .4rem 0;
        }
        .product__info div p:nth-child(2){
            font-size: var(--sm);
            margin: 0;
            color: var(--very-light-pink);
        }
        .product__info figure{
            margin: 0;
        }
        .product__info figure img{
            width: 3.5rem;
            height: 3.5rem;
        }


@media (max-width: 640px){
    .card__container{
        grid-template-columns: repeat(auto-fill, 14rem);
    }
    .product__card{
        width: 14rem;
    }
        .product__card img{
            width: 14rem;
            height: 14rem;
        }
}